In [4]:
# perform train test split here
import pandas as pd
import os
from sklearn.model_selection import train_test_split

scaled_data = pd.read_csv('D:/Documents/GitHub/DS_Midterm_Project_CB/processed/scaled_data.csv')

In [5]:
X = scaled_data.drop(columns=['Sold_Price'])
y = scaled_data['Sold_Price']

#Split data for Train and Test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a DataFrame with training data
train_data = pd.concat([X_train, y_train], axis=1)

# Calculate the mean sale price by city
mean_price_by_city = train_data.groupby('city')['Sold_Price'].mean()
print(mean_price_by_city)
# Map mean prices to training data
X_train['city_mean_price'] = X_train['city'].map(mean_price_by_city)

# Drop the original city column
X_train = X_train.drop(columns=['city'])

# Calculate the overall mean price from training data
overall_mean_price = y_train.mean()

# Map mean prices to test data
X_test['city_mean_price'] = X_test['city'].map(mean_price_by_city)

# Fill NA values in the test set with the overall mean price
X_test['city_mean_price'] = X_test['city_mean_price'].fillna(overall_mean_price)

# Drop the original city column if not needed
X_test = X_test.drop(columns=['city'])

# Set the global float display format
pd.options.display.float_format = '{:.2f}'.format

# Display DataFrame to verify
print(X_test.head())
print("Training Data with Encoded City Mean Prices:\n", X_train.head())
print("Test Data with Encoded City Mean Prices:\n", X_test.head())

city
0    239429.47
1    148000.00
2    120000.00
3    688875.34
4    397818.18
        ...
80   452000.00
81   470000.00
82   464615.38
83   836966.67
84   331753.75
Name: Sold_Price, Length: 81, dtype: float64
      matterport  source.type  year_built  baths_3qtr  baths_half  lot_sqft  \
5809           0            1       -0.21           0           0      0.65
233            0            1       -1.16           0           0     -0.29
1032           0            1       -1.49           0           0     -0.60
5995           0            1        1.09           1           0      0.69
2264           0            1        0.72           0           1      0.51

      sqft  baths  sub_type  garage  ...  shopping  single_story  \
5809 -0.21      2         2       0  ...         0             1
233   0.03      2         2       0  ...         1             1
1032 -0.53      1         2       2  ...         1             1
5995  0.25      2         2       2  ...         1             1
2264  1.89      3         2       2  ...         1             0

      swimming_pool  trails  updated_kitchen  view  views  washer_dryer  \
5809              0       0                0     0      0             0
233               0       0                1     0      0             0
1032              0       1                0     1      0             0
5995              0       0                0     1      0             1
2264              0       1                0     1      0             0

       same  city_mean_price
5809   True        326383.33
233    True        308308.28
1032  False        599364.24
5995  False        468382.67
2264  False        253371.44

[5 rows x 64 columns]
Training Data with Encoded City Mean Prices:
       matterport  source.type  year_built  baths_3qtr  baths_half  lot_sqft  \
548            0            1        0.77           0           0      0.17
5046           0            1       -0.26           0           0      0.65
1860           0            1        1.05           0           1     -0.88
6074           0            1        0.42           2           0      0.00
1321           0            1       -1.67           0           0     -0.87

      sqft  baths  sub_type  garage  ...  shopping  single_story  \
548   1.76      4         2       3  ...         0             0
5046  0.50      2         2       2  ...         0             1
1860  1.10      3         0       3  ...         0             0
6074  0.15      2         2       0  ...         1             1
1321  1.71      0         2       0  ...         0             0

      swimming_pool  trails  updated_kitchen  view  views  washer_dryer  \
548               1       0                0     1      0             0
5046              0       0                0     1      0             0
1860              0       0                0     1      0             1
6074              0       0                0     0      0             1
1321              0       0                0     0      0             0

       same  city_mean_price
548   False        578249.32
5046  False        419099.39
1860  False        522157.19
6074   True        468382.67
1321   True        307985.31

[5 rows x 64 columns]
Test Data with Encoded City Mean Prices:
       matterport  source.type  year_built  baths_3qtr  baths_half  lot_sqft  \
5809           0            1       -0.21           0           0      0.65
233            0            1       -1.16           0           0     -0.29
1032           0            1       -1.49           0           0     -0.60
5995           0            1        1.09           1           0      0.69
2264           0            1        0.72           0           1      0.51

      sqft  baths  sub_type  garage  ...  shopping  single_story  \
5809 -0.21      2         2       0  ...         0             1
233   0.03      2         2       0  ...         1             1
1032 -0.53      1         2       2  ...         1             1
5995  0.25      2         2       2  ...         1             1
2264  1.89      3         2       2  ...         1             0

      swimming_pool  trails  updated_kitchen  view  views  washer_dryer  \
5809              0       0                0     0      0             0
233               0       0                1     0      0             0
1032              0       1                0     1      0             0
5995              0       0                0     1      0             1
2264              0       1                0     1      0             0

       same  city_mean_price
5809   True        326383.33
233    True        308308.28
1032  False        599364.24
5995  False        468382.67
2264  False        253371.44

[5 rows x 64 columns]

In [6]:
# Define the directory path
output_dir = 'D:/Documents/GitHub/DS_Midterm_Project_CB/processed/'

# Save the DataFrames to CSV files
X_train.to_csv(os.path.join(output_dir, 'X_train.csv'), index=False)
X_test.to_csv(os.path.join(output_dir, 'X_test.csv'), index=False)
y_train.to_csv(os.path.join(output_dir, 'y_train.csv'), index=False)
y_test.to_csv(os.path.join(output_dir, 'y_test.csv'), index=False)

print("DataFrames have been saved successfully.")

DataFrames have been saved successfully.